button {
  padding: 10px 15px;
  color: #fff;
  background-color: rgb(43, 20, 85);
  border-radius: 5px;
  border: none;
  margin-right: 1rem;

  &:hover {
    background-color: rgb(136, 99, 206);
    cursor: pointer;
  }

  &:focus {
    background-color: rgb(136, 99, 206);
    outline: none;
  }
}
